body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  background: black;
  text-align: center;
  padding: 15px;
}

header h1 {
  font-size: 40px;
}

header span {
  color: white;
}

header h1 {
  color: red;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.topbar input, .topbar select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h2 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #ccc;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  background: red;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* RESPONSIVE */
@media(max-width:600px){
  header h1 { font-size: 28px; }
}
